@charset "utf-8";
/* =======================================
	CommonElements
======================================= */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,
b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,hgroup, menu, nav, section,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
body , html {height: 100%;}
body {
	font-family:"sans-serif";
	font-size: 20px;
	color:#24221b;
}
article, aside, dialog, figure, footer, header,hgroup, nav, section {display:block;}
nav ul,li {list-style:none;}
blockquote, q {	quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {
	content:'';
	content:none;
}
a {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	background:transparent;
	text-decoration:none;
	color:#231212;
}
a:hover{ color:#0049b6}
img{
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}
ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}
mark {
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:bold;
}
del {text-decoration: line-through;}
abbr[title], dfn[title] {
	border-bottom:1px dotted #000;
	cursor:help;
}
table {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}
table th{
	padding:0 10px 35px 0;
	text-align:left;
	vertical-align:middle;
	white-space: nowrap;
}
table td{ padding:0 0 35px 0}
hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
	margin:2.3em 0;
	padding:0;
}
input {	vertical-align:middle;}
select::-ms-expand {
	display: none;
}
select{
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border-radius: 0;
	border: 0;
	margin: 0;
	padding: 0;
	background: none transparent;
	vertical-align: middle;
	font-size: inherit;
	color: inherit;
	box-sizing: content-box;
}
textarea{
	width:100%;
	height: 13em;
	line-height: 1.5em;
	resize: none;
	border:solid 1px #c9c9c9;
	border-radius:6px;
	padding:10px;
	font-size:22px;
	box-sizing:border-box;
}
input[type="text"],input[type="tel"],input[type="password"]{
	border:solid 1px #c9c9c9;
	border-radius:6px;
	height:55px;
	line-height:55px;
	font-size:22px;
	padding:0 10px;
	box-sizing:border-box;
}
.full_input input{ width:100%}
.f11{ font-size:11px !important}
.f12{ font-size:12px}
.f13{ font-size:13px}
.f14{ font-size:14px}
.f16{ font-size:16px}
.f20{ font-size:20px}
.Bold,.bold{ font-weight:bold}

.m0auto{ margin:0 auto}
.m10auto{ margin:10px auto}
.mt05{ margin-top:5px}
.mt10{ margin-top:10px}
.mt15{ margin-top:15px}
.mt20{ margin-top:20px}
.mt35{ margin-top:35px !important}
.mb5{ margin-bottom:5px !important}
.mb15{ margin-bottom:15px}
.mb20{ margin-bottom:20px}
.mb25{ margin-bottom:25px}
.mb40{ margin-bottom:40px}
.mb45{ margin-bottom:45px}
.mb65{ margin-bottom:65px}
.ml20{ margin-left:20px}
.ml25{ margin-left:25px}

.pr15{ padding-right:15px;}
.pb15{ padding-bottom:15px;}

.TextC{ text-align:center !important;}
.TextL{ text-align:left !important;}
.TextR{ text-align:right !important;}
.TShadow{text-shadow: 1px 1px 3px #333;}
.indent1{ text-indent:1em}
a img.btn {
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
img.btn {
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.section { text-align: center;}
.redpink{ color:#de4d4d}
.Emerald{ color:#26a69a}
.error{
	color:#db0009;
	padding-left:5px;
}
.sp{ display:none}
.bgh{ width:100%; background:#fff;}

.w90p{ width:90%;}
.w80p{ width:80%;}

.LinkColor a{ color:#fc8944}
.btnContact{
	text-align:center;
	margin:40px 0;
}
table.pctable{ width:auto}
table.pctable td{
	vertical-align:top;
	padding-right:15px;
}
@media screen and (min-width:1024px){}
@media screen and (max-width: 768px) {
	table.sp_block th,table.sp_block td{ display:block;}
	table.sp_block th{
		width:100%;
		padding-bottom:0;
		padding-top:10px;
	}
	table.sp_block td{ padding-bottom:10px}
	.ml25,.ml20{margin-left:0}
	.sp-mb20{ margin-bottom:20px}
	.sp-mt15{ margin-top:15px}
	.sp-mt10{ margin-top:10px}
	.sp-f16{ font-size:16px}
	.sp-f25{ font-size:26px}
	.sp{ display:inline-block}
	.pc{ display:none}
	hr.Dashed.mb45{ margin-bottom:10px;}
	.sp-w100{
		width:100%;
		height:auto
	}
	.sp-w95{
		width:95%;
		height:auto
	}
	table.pctable,
	table.pctable tbody,
	table.pctable tbody tr{
		width:100%;
		display: block;
	}
	table.pctable td{
		padding-right:0;
		padding-bottom:10px;
	}
}
/*------------------------
 Header
--------------------------*/
#header{
	background-color:#fff;
	margin-bottom:20px;
}
#headerIn{
	width:1100px;
	height:110px;
	padding-top:10px;
	margin:0 auto;
	position:relative;
}
#headerIn .LogOut{
	position:absolute;
	top:34px;
	left:150px;
	width:88px;
	font-size:90%;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
	padding:3px 0;
	text-align:center;
	border:solid 1px #ccc;
	border-radius:5px;
}
#headerIn .StoreName{
	background-color:#db0009;
	box-sizing: border-box;
	color:#fff;
	width:88px;
	position:absolute;
	bottom:15px;
	left:150px;
	padding:3px;
	font-weight:bold;
	text-align:center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#headerIn .clock{
	position:absolute;
	bottom:15px;
	left:250px;
	width:17.63%;
	border-radius:10px;
	border:solid 1px #cccfd0;
}
#headerIn .clock p{
	border-bottom:solid 1px #cccfd0;
	text-align:center;
}
#headerIn .clock p.date{ font-size:16px;}
#headerIn .clock p.time{
	border-bottom:none;
	font-size:30px
}
#headerIn .clock p.time span{ font-size:24px;}
#logo{
	position:absolute;
	left:0;
	top:9px;
}
#headerNav ul{
	position:absolute;
	right:0;
	top:12px;
}
#headerNav ul > li {
	float: left;
	width:108px;
	text-align:center;
	height: 95px;
	line-height: 95px;
	font-size:14px;
	font-weight:bold;
}
#headerNav ul > li a {
	display: block;
	background:url(../../img/common/nave.png) 23px top no-repeat;
	padding-top:30px;
	box-sizing:border-box;
	height:95px;
	color:#554b2c;
}
#headerNav ul li.nav02 a{ background-position: 23px -138px;}
#headerNav ul li.nav03 a{ background-position: 23px -279px;}
#headerNav ul li.nav04 a{ background-position: 23px -418px;}
#headerNav ul li.nav05 a{ background-position: 23px -560px;}
#headerNav ul li.nav06 a{ background-position: 17px -706px;}
#headerNav ul li.nav01 a:hover,#headerNav ul li.nav01 a.active{ background-position:-105px top;}
#headerNav ul li.nav02 a:hover,#headerNav ul li.nav02 a.active{ background-position:-105px -138px;}
#headerNav ul li.nav03 a:hover,#headerNav ul li.nav03 a.active{ background-position:-105px -279px;}
#headerNav ul li.nav04 a:hover,#headerNav ul li.nav04 a.active{ background-position:-105px -418px;}
#headerNav ul li.nav05 a:hover,#headerNav ul li.nav05 a.active{ background-position:-105px -560px;}
#headerNav ul li.nav06 a:hover,#headerNav ul li.nav06 a.active{ background-position:-114px -706px;}
#headerNav ul > li a:hover { color:#db0009}
#headerNav ul li ul.menu__second-level {
	visibility: hidden;
	opacity: 0;
	z-index: 1;
}
#headerNav ul li ul.menu__third-level {
	visibility: hidden;
	opacity: 0;
}
#headerNav ul li ul.menu__fourth-level {
	visibility: hidden;
	opacity: 0;
}
#headerNav ul > li:hover {
	-webkit-transition: all .5s;
	transition: all .5s;
}
#headerNav ul li ul.menu__second-level li,#headerNav ul li ul.menu__third-level li { border: 1px solid #fff;}
#headerNav ul li ul.menu__second-level li a:hover{ color:#fff}
#headerNav ul li ul.menu__third-level li a:hover {}
#headerNav ul li ul.menu__fourth-level li a:hover {}
#headerNav ul:before,.menu:after {
	content: " ";
	display: table;
}
#headerNav ul:after {clear: both;}
#headerNav ul {*zoom: 1;}
#headerNav ul > li.menu__multi {
	position: relative;
	z-index:1;
}
#headerNav ul li.menu__multi ul.menu__second-level {
	position: absolute;
	top: 100px;
	width: 100%;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}
#headerNav ul li.menu__multi:hover ul.menu__second-level {
	top: 100px;
	visibility: visible;
	opacity: 1;
}
#headerNav ul li.menu__multi ul.menu__second-level li {
	position: relative !important;
	display:block;
	text-indent:0;
	overflow:visible;
	height:50px;
	line-height: 50px;
	background-color:#f5dada;
	text-align:center;
}
#headerNav ul li.menu__multi ul.menu__second-level li a{
	background:none;
	height:30px;
	color:#db0009;
	padding-top:0;
	display: block;
}
#headerNav ul li.menu__multi ul.menu__second-level li:hover{}
#headerNav ul li.menu__multi ul.menu__second-level li ul.menu__third-level {
	position: absolute;
	top: 10px;
	left: 100%;
	width: 100%;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}
#headerNav ul li.menu__multi ul.menu__second-level li:hover ul.menu__third-level {
	visibility: visible;
	opacity: 1;
}
#headerNav ul li.menu__multi ul.menu__second-level li ul.menu__third-level li { position: relative;}
#headerNav ul li.menu__multi ul.menu__second-level li ul.menu__third-level li:hover { }
#headerNav ul li.menu__multi ul.menu__second-level li ul.menu__third-level li ul.menu__fourth-level {
	position: absolute;
	top: -1px;
	left: 100%;
	width: 100%;
	background: #fff;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}
#headerNav ul li.menu__multi ul.menu__second-level li ul.menu__third-level li:hover ul.menu__fourth-level {
	visibility: visible;
	opacity: 1;
}
.init-right:after {
	content: '';
	display: inline-block;
	width: 6px;
	height: 6px;
	margin: 0 0 0 15px;
	border-right: 1px solid #db0009;
	border-top: 1px solid #db0009;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/*------------------------
 Content
--------------------------*/
#Contentwrap{
	width:1100px;
	margin:0 auto;
	overflow:hidden;
	padding:15px 0;
}
#PageContent{
	background-color:#fff;
	padding:24px;
	margin-bottom:49px;
}
#PageContent h2{
	color:#554b2c;
	padding: 0 0 0.2em 10px;
	border-bottom:1px solid #f5dada;
	position: relative;
	margin:10px 0 20px;
	font-weight:normal
}
#PageContent h2:before{
	content:"";
	display:block;
	width:13%;
	border-bottom:2px solid #554b2c;
	position:absolute;
	bottom:0;
	left:0;
	margin-bottom:-2px;
}
#PageContent h2 span{ font-weight:bold}
.PageContentNav{
	overflow:hidden;
	width:100%;
	padding:15px 0 20px;
}
.PageContentNav p{float:left;}
.PageContentNav p strong{
	font-size:22px;
	padding:0 7px;
}
@media screen and (max-width: 1024px) {
	#headerIn { width:98%;}
	#Contentwrap{ width:100%;}
	#headerNav ul > li{ width:115px;}
	#headerIn .clock{ display:none}
	/*#headerIn .StoreName{width:auto;}*/
}
@media screen and (max-width: 768px) {
	#headerNav{ display:none}
	#headerIn .StoreName{
		top:auto;
		bottom:15px;
	}
	#headerIn .LogOut{
		top:auto;
		bottom:15px;
		left:230px
	}
	#Contentwrap{ padding-top:0}
	.sp-block{
		display:block;
		padding-top:10px;
	}
	#PageContent{padding: 15px;}
	#PageContent h2{ font-size:115%;}
	.PageContentNav{ padding-top:0}
}
@media screen and (max-width: 480px) {
	#headerIn{height: 90px;}
	#headerIn .StoreName{
		background:none;
		color:#db0009;
		left:28.5%;
		bottom:13px;
		width:auto
	}
	#headerIn .LogOut{
		left:44%;
		bottom:22px;
	}
	#logo{width:28%;}
	#logo img{
		width:100%;
		height:auto
	}
}
/*------------------------
 Breadcrumb
--------------------------*/
.Breadcrumb{
	overflow:hidden;
	display:block;
	float:right;
}
.Breadcrumb li{
	float:left;
	font-size:18px;
	margin-left:11px;
	width:39px;
	text-align:center;
}
.Breadcrumb li a{
	background-color:#e1ded6;
	color:#554b2c;
	display:block;
	padding:6px 0;
}
.Breadcrumb li a:hover{	background-color:#f5dada;}
.Breadcrumb li.on a{
	background-color:#db0009;
	color:#fff;
}
.Breadcrumb li.left,.Breadcrumb li.right{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.Breadcrumb li.left a{background:#e1ded6 url(../../img/common/left_off.png) center center no-repeat}
.Breadcrumb li.right a{background:#e1ded6 url(../../img/common/right_off.png) center center no-repeat}
.Breadcrumb li.left.on a{background:#db0009 url(../../img/common/left_on.png) center center no-repeat}
.Breadcrumb li.right.on a{background:#db0009 url(../../img/common/right_on.png) center center no-repeat}

@media screen and (max-width: 768px) {
	.Breadcrumb{
		width:100%;
		float:none;
		margin:0 auto
	}
	.Breadcrumb li{
		font-size:14px;
		width:32px;
	}
}

.no_pad { padding: 0; }
.hidden {
	display: none;
}
#pos_search_bar .rabutton label{
	/*height: 18px;*/
}
div.datetime{
	display:inline-block;
	vertical-align:middle;
}
input.normal_input {
	width: 255px;
}

.flowtable th.two_line {
	vertical-align: middle;
}
.strong {
	font-weight: bold;
}
.fw40 {
	font-size: 40px !important;
}
.text-blue-bold {
	color: #000080;
	font-weight: bold;
}