#container {
    margin: auto;
    max-width: 1400px;
    padding: 0 10%;
    min-height: 600px;
}

.nav {
    margin: 0 0 10px;
    overflow: hidden;
    text-align: right;
}

.nav a {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}

.nav li.active a {
    color: #0049b6;
}

.nav li {
    display: inline-block;
    margin-left: 20px;
    padding: 20px 0;
}

#header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

#header p span {
    color: #c00;
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    padding-top: 10px;
    text-transform: uppercase;
    vertical-align: top;
}

.icon-arrow {
    background: url("../img/arrow.png") no-repeat;
    background-size: 15px;
    display: inline-block;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
    width: 15px;
}

#header p {
    text-align: center;
}

h3.header {
    text-transform: uppercase;
}

.list-reason li {
    color: #c00;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px;
}

.book-now {
    background: #c00 none repeat scroll 0 0;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 55px;
    font-weight: bold;
    margin: 10px 0;
    padding: 20px 25px;
}

.booking {
    font-family: Tahoma;
    font-size: 30px;
}

#footer {
    background: #111;
    color: #999;
    padding: 45px 0;
    font-size: 17px;
}

.goto-top {
    bottom: 0;
    display: block;
    height: 70px;
    position: fixed;
    right: 143px;
    width: 70px;
}

.goto-top > img {
    width: 100%;
}

.text-blue, .more-detail {
    color: #0077ee;
}

.more-detail {
    font-weight: bold;
    text-decoration: underline;
}

h3.title-contact {
    font-size: 35px;
}

.wrapper-how-to-use {
    padding: 20px 100px;
    text-align: justify;
}

img {
    max-width: 100%;
}

.step-use {
    padding: 0 30px;
    font-style: italic;
}

.step-use, .step-use li {
    list-style: disc outside !important;
}

.wrapper-how-to-use ol li {
    margin-bottom: 10px;
}

.wrapper-how-to-use ol, .wrapper-how-to-use ol li {
    list-style: decimal !important;
    margin-left: 13px;
}

.feedback fieldset {
    border: 1px solid #101010;
    margin-top: 20px;
}

.feedback legend {
    margin: 0 0 0 15px;
}

.feedback p {
    font-style: italic;
    margin: 10px;
}

.feedback {
    margin-bottom: 50px;
}

ul.list, ul.list li {
    list-style: disc;
    margin-left: 10px;
    font-style: italic;
}